asgiref==3.8.1
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==4.2
django-bootstrap5==25.1
django-chartjs==2.3.0
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
ecdsa==0.19.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.6
pyasn1==0.6.1
PyJWT==2.9.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2025.2
reportlab==4.4.0
requests==2.32.3
rsa==4.9
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
