{% extends 'parent_ui/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Registration Successful</h4>
                </div>
                <div class="card-body">
                    <p>Your parent account has been created successfully!</p>
                    <a href="{% url 'parent_dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}